doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    include ./scripts.jade
  body(ng-app="app")
    div.header-container(ng-include="'partials/header'")
    div.main-container(ui-view)
