doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ./scripts.jade
  body(ng-app="app")
    div.header-container(ng-include="'partials/header'")
    div.main-container(ui-view)
