doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ./scripts.jade
  body(ng-app="app")
    div(ng-include="'partials/header'")
    div(ng-include="'partials/main'")
