script(src="vendor/angular/angular.min.js")
script(src="vendor/angular-ui-router/release/angular-ui-router.min.js")
script(src="vendor/angular-resource/angular-resource.min.js")

script(src="javascripts/main.js")
script(src="javascripts/config.js")

script(src="javascripts/controllers/headerCtrl.js")
script(src="javascripts/controllers/serversCtrl.js")
script(src="javascripts/controllers/serverPanelCtrl.js")

script(src="javascripts/services/serversManager.js")

script(src="javascripts/directives/autoFocus.js")
script(src="javascripts/directives/enter.js")