div.servers-list
  div.left-sidebar
    div.toolbar
      button.add + Add server
    ul.list-container
     li.server(ng-repeat="server in servers", ng-click="showServer(server)",
        ng-class="{'active': $index==0}") {{ server.name }}
       i.fa.fa-lock.icon(ng-if="server.locked")
  ui-view.server-panel
